language = "bash"
run = "mcs -out:main.exe 'projeto 01/main.cs' 'projeto 01/genero.cs' 'projeto 01/livro.cs' 'projeto 01/cliente.cs' 'projeto 01/servico.cs' 'projeto 01/sistema.cs' 'projeto 01/aluguel.cs'; mono main.exe"